<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    
    <bean id="client" class="com.jdc.bean.Client">
    <!--  <constructor-arg ref="customService"></constructor-arg> -->	
    	<constructor-arg ref="service"></constructor-arg>
    </bean>
	
	<bean id="customService" class="com.jdc.bean.CustomService" ></bean>
	
	<bean id="service" class="com.jdc.bean.Service" ></bean>
</beans>